<div class="content proposal" ng-hide="!person">
	<div class="pure-g" ng-hide="person.accepted">
		<div class="pure-u-1-24"></div>
		<div class="pure-u-10-24">
			<p ng-show="groomsman">Congratulations <strong>{{person.firstname}}</strong>! You have been selected as <strong ng-show="person.best">Best Man</strong><strong ng-hide="person.best">a Groomsman</strong>.<br /> Do you accept this honor?</p>
			<p ng-show="bridesmaid">Congratulations <strong>{{person.firstname}}</strong>! You have been selected as <strong ng-show="person.best">Maid of Honor</strong><strong ng-hide="person.best">a Bridesmaid</strong>.<br /> Do you accept this honor?</p>
		</div>
		<div class="pure-u-2-24"></div>
		<div class="pure-u-4-24">
			<p>
				<button class="pure-button button-success" ng-click="accept()">Accept</button>
			</p>
		</div>
		<div class="pure-u-1-24"></div>
		<div class="pure-u-4-24">
			<p ng-show="groomsman">
				<a class="pure-button button-error" ng-href="mailto:chezbrown@gmail.com?subject=I Regret to Decline&body=Unfortunately, I have misplaced my testicles and therefore will not be man enough to join this elite groomsmen team. You may slap me in the face at your earliest convenience. -- {{person.firstname}} {{person.lastname}}">Decline</a>
			</p>
			<p ng-show="bridesmaid">
				<a class="pure-button button-error" ng-href="mailto:chezbrown@gmail.com?subject=I Regret to Decline&body=Unfortunately, I am unable to accept the honor bestowed upon me as bridesmaid. I sincerely apologize and owe you big time. -- {{person.firstname}} {{person.lastname}}">Decline</a>
			</p>
		</div>
		<div class="pure-u-1-24"></div>
	</div>
	<div class="pure-g thankyou" ng-show="person.accepted">
		<div class="pure-u-1-24"></div>
		<div class="pure-u-22-24">
			<p>Kickass! Let's rock this bachelor party... I mean wedding.</p>
		</div>
		<div class="pure-u-1-24"></div>
	</div>
</div>

<div class="content groomsmen-container">
	<div class="bridal-party">
		<div class="groom-side">
			<div class="groomsman">
				<div ng-repeat="groomsman in groomsmen" class="pure-g">
					<div class="pure-u-23-24">
						<span class="name">
							<span ng-if="groomsman.accepted">
								<span class="firstname">{{groomsman.firstname}}</span>
								<span class="lastname">{{groomsman.lastname}}</span>
							</span>
							<span ng-if="!groomsman.accepted">
								<span class="firstname">???</span>
								<span class="lastname">???</span>
							</span>
						</span>
						<div class="circle-container">
							<div class="circle" ng-if="groomsman.accepted && groomsman.username" ng-style="{'background-image': 'url(//avatars.io/' + groomsman.social + '/' + groomsman.username + '?size=large)'}"></div>
							<div class="circle" ng-if="!groomsman.accepted || !groomsman.username" ng-style="{'background-image': 'url(img/blank-avatar.jpg)'}"></div>
							<i ng-if="groomsman.accepted" class="tick fa fa-check-circle"></i>
						</div>
						<div class="best" ng-show="groomsman.best">Best Man</div>
					</div>
					<div class="pure-u-1-24"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content bridesmaids-container">
	<div class="bridal-party">
		<div class="bride-side">
			<div class="bridesmaid">
				<div ng-repeat="bridesmaid in bridesmaids" class="pure-g">
					<div class="pure-u-1-24"></div>
					<div class="pure-u-23-24">
						<span class="name">
							<span ng-if="bridesmaid.accepted">
								<span class="firstname">{{bridesmaid.firstname}}</span>
								<span class="lastname">{{bridesmaid.lastname}}</span>
							</span>
							<span ng-if="!bridesmaid.accepted">
								<span class="firstname">???</span>
								<span class="lastname">???</span>
							</span>
						</span>
						<div class="circle-container">
							<div class="circle" ng-if="bridesmaid.accepted && bridesmaid.username" ng-style="{'background-image': 'url(//avatars.io/' + bridesmaid.social + '/' + bridesmaid.username + '?size=large)'}"></div>
							<div class="circle" ng-if="!bridesmaid.accepted || !bridesmaid.username" ng-style="{'background-image': 'url(img/blank-avatar.jpg)'}"></div>
							<i ng-if="bridesmaid.accepted" class="tick fa fa-check-circle"></i>
						</div>
						<div class="best" ng-show="bridesmaid.best">Maid of Honor</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clear-fix"></div>

<div class="ribbon l-box-lrg pure-g">
	<div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
		<i class="fa fa-map-marker" style="font-size: 120px;"></i>
	</div>
	<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
		
		<h2 class="content-head content-head-ribbon">Location to be determined</h2>
		
		<p>
			Check back later when we have more things planned.
		</p>
	</div>
</div>

<div class="content">
	<h2 class="content-head is-center">We will probably put more cool information here.</h2>
	
	<div class="pure-g">
		<div class="l-box-lrg pure-u-1 pure-u-md-2-5 is-center">
			<i class="fa fa-info-circle" style="font-size: 120px;"></i>
		</div>
		
		<div class="l-box-lrg pure-u-1 pure-u-md-3-5">
			<h4>Just Don't Know What yet</h4>
			<p>
				It'll probably be something really important, like what food we're going
				to have. Yeah, that's definitely important. Now I'm hungry.
			</p>
		</div>
	</div>
</div>